{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="container">
		<div class="row my-5">
			<div class="col-7">Image</div>
			<div class="col-5 my-5">
				<h1>Register</h1>
				{{ form_start(registrationForm) }}
				<div class="row">
					<div class="col-4">
						{{ form_label(registrationForm.nom) }}
					</div>
					<div class="col-8">
						{{ form_widget(registrationForm.nom) }}
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-4">
						{{ form_label(registrationForm.prenom) }}
					</div>
					<div class="col-8">
						{{ form_widget(registrationForm.prenom) }}
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-4">
						{{ form_label(registrationForm.username) }}
					</div>
					<div class="col-8">
						{{ form_widget(registrationForm.username) }}
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-4">
						{{ form_label(registrationForm.telephone) }}
					</div>
					<div class="col-8">
						{{ form_widget(registrationForm.telephone) }}
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-4">
						{{ form_label(registrationForm.email) }}
					</div>
					<div class="col-8">
						{{ form_widget(registrationForm.email) }}
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-4">
						{{ form_label(registrationForm.etablissement) }}
					</div>
					<div class="col-8">
						{{ form_widget(registrationForm.etablissement) }}
					</div>
				</div>
				<div class="row mt-3">
					<div class="col">
						{{ form_row(registrationForm.plainPassword, {
							label: 'Password'
						}) }}
					</div>

				</div>

				<div class="row mt-3">
					<div class="col-6">
						{{ form_row(registrationForm.agreeTerms) }}
					</div>
					<div class="col-6">
						<button type="submit" class="btn btn-primary">Register</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>


			</div>
		</div>

	</div>

{% endblock %}
